body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #62B1D0;
}

#app {
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    background-color: #34CFBE;
    border-radius: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.title {
    color: #333;
    text-align: center;
}

.cardForm {
    max-width: 400px;
    margin: 0 auto;
}

.titlenote {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

.btn {
    background-color: #4caf50;
    color: #fff;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.btn:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.create-btn {
    background-color: #3498db;
}

.columns {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;

}

.column {
    flex: 1;
    margin: 0 10px;
    padding: 20px;
    background-color: #FF9E73;
    border-radius: 15px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.card {
    margin-top: 20px;
    padding: 15px;
    background-color: #FFBC73;
    border-radius: 15px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

input[type="checkbox"] {
    margin-right: 5px;
}