<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="./scripts/vue.js"></script>
    <link rel="stylesheet" href="./css/style.css">
    <title>Хранение заметок</title>
</head>
<body>
    <h1 class="title">Хранение заметок</h1>
    <div id="app">
        <form class="cardForm" @submit.prevent="addItem">
            <p>
                <label for="NoteTitle">Title:</label>
                <input class="titlenote" id="NoteTitle" v-model="noteTitle" placeholder="title" required>
            </p>
            <p v-for="(item, index) in items" :key="index">
                <label>{{ `Action ${index + 1}:` }}</label>
                <input v-model="item.text" placeholder="Action" required>
            </p>
            <p>
                <button class="btn" :disabled="items.length >= 5">Add Item</button>
                <button class="btn create-btn" @click="createNotes" :disabled="items.length === 0">Create</button>
            </p>
        </form>
    </div>
</body>
</html>