<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Заметки</title>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
  <link rel="stylesheet" href="css/style.css">
</head>
<body>
  <div id="app">
    <form @submit.prevent="addCard">
      <div class="add-group">
        <h2 class="add-g-caption">Добавить заметку</h2>
        <input type="text" v-model="groupName" placeholder="Название" required>
        
        <p v-if="remainingInputsMessage">{{ remainingInputsMessage }}</p>
        
        <input v-for="(input, index) in inputs" :key="index" type="text" v-model="inputs[index]" :placeholder="'Пункт ' + (index + 1)">
        
        <div v-if="inputs.length < 5">
          <button type="button" @click="addExtraInput" class="add-button">+</button>
        </div>
  
        <div v-if="inputs.length > 3">
          <button type="button" @click="removeExtraInput" class="add-button">-</button>
        </div>
  
        <button type="submit" :disabled="isFirstColumnBlocked" class="add-button">Добавить</button>
      </div>
    </form>
  
    <div class="columns">
      <div class="column">
        <h2>Список №1</h2>
        <card v-for="card in firstColumn" :key="card.id" :card-data="card" @update-progress="checkMoveCard" @delete-group="deleteGroup" :disable-edit="isFirstColumnBlocked"></card>
      </div>
      <div class="column">
        <h2>Список №2</h2>
        <card v-for="card in secondColumn" :key="card.id" :card-data="card" @update-progress="checkMoveCard" @delete-group="deleteGroup" :disable-edit="false"></card>
      </div>
      <div class="column">
        <h2>Список №3</h2>
        <card v-for="card in thirdColumn" :key="card.id" :card-data="card" @update-progress="checkMoveCard" @delete-group="deleteGroup" :disable-edit="false"></card>
      </div>
    </div>
  </div>
  

  <script src="scripts/script.js"></script>
</body>
</html>
